.card{
    transition: 0.3s;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-content: space-around;
    gap: 10px;
}
.border {
    border-style: solid;
    border-radius: 6px;
}

div { 
    padding: 5px;
    margin: 5px;
}

button {
    border-style: solid;
    border-radius: 6px;
    padding: 5px;
    margin: 5px;
}
