@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    table {
        border: 2px solid;
    }
    th {
        @apply px-4
    }
    td {
        @apply px-4
    }
    tr {
        border-bottom: 2px solid;
    }
    tr:nth-child(even) {
        @apply bg-blue-400 hover:bg-purple-400 active:bg-green-400
    }
    tr:nth-child(odd) {
        @apply bg-blue-600 hover:bg-purple-600 active:bg-green-600
    }
}

/* Style for table rows */
tr.unavail {
    @apply bg-gray-600 hover:bg-gray-700 active:bg-gray-700
}
/* Style the tabs */
.tab {
    overflow: hidden;
    /* align-content: center; */
  }
  
/* Style the buttons that are used to open the tab content */
.tab button {
  background-color: #ff0000;

  border: none;
  outline: none;
  cursor: pointer;
  padding: 10px 14px;
  transition: 0.3s;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #0be2fa;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: #ff9100;
}

/* Style the tab content */
.tabcontent {
  /* display: none; */
  padding: 6px 12px;
  border: 1px solid #1a035a;
  border-top: none;
}

/* The Modal (background) */
.b_modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
.d_modal {
    display: block; /* Show in front of everything */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content/Box */
  .modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
  }
  
  /* The Close Button */
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }